body {
  font-family: 'Poppins', sans-serif;
  background: #53777A;
}

a {
  color: #53777A;
}

a:hover{
  text-decoration: none;
}

img {
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	opacity: .5;
  background: #1abc9c;
}

#mainContainer {
  background-color: #53777A;
}

#name {
  background-color: #f8f8f8;
}

#bar {
  margin-top: 15px;
  background-color: #53777A;
  height: 44px;
  width: 100%;
}

#socialLinks {
  background-color: #f8f8f8;
}

#socialLinks .fa {
  font-size: 44px;
  padding: 15px;
}

#resumeLinks {
  background-color: #f8f8f8;
}

#resumeLinks .fa {
  font-size: 24px;
  padding: 25px;
}

#skillList {
  background-color: #f8f8f8;
  border-radius: 5px;
}

#jobTitle {

}

#projectsHeader {
  color: #f8f8f8;
}

#footerLinks {
  background-color: #f8f8f8;
  padding: 30px;
  margin-top: 40px;
}

#footerLinks .fa {
  font-size: 32px;
  padding: 15px;
}

.devicon {
  font-size: 64px;
  color: #D95B43;
}

.skill {
  padding-bottom: 10px;
  padding-top: 20px;
}

.project {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.projectButtons {
  padding-top: 10px;
}
